%h1 Lists
%hr
.container-fluid
  .row-fluid
    .span2
      = render "shared/sidebar"
    .span10
      %h3 Create a List
      %hr
      = render "upload_list"
      = render "shared/modal", header: "Disclaimer", content: "Lorem Ipsum"
