%h1 Review Details
%hr
.container-fluid
  .row-fluid
    .span2
      =render "shared/sidebar"
    .span10
      %h3 List Details
      %hr
      %p Review the details below for your list
      =render "review_details"
