= simple_form_for @message, url: messages_step3_path, method: :get do |f|
  = f.input :name, label: "Message Name"
  = f.input :content, label: "Message Content", :input_html => {:rows => 3}
  = f.submit "Next", class: "btn btn-success"
