%h1 Create Message
%hr
.container-fluid
  .row-fluid
    .span2
      =render "shared/sidebar"
    .span10
      %h3 Review Details
      %hr
      %p Review the details below before you send your message
      =render "message_review"
