%hr
%h1 Pricing
%br
.container-narrow.pricing
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Free
        %th Gold
        %th Platinum
    %tbody
      %tr
        %td Monthly Fee
        %td Free
        %td PHP 1999
        %td PHP 3999
      %tr
        %td Users
        %td 2
        %td 5
        %td 10
      %tr
        %td Phone Numbers
        %td Unlimited
        %td Unlimited
        %td Unlimited
      %tr
        %td Bulk Sending
        %td 
          %i.icon-ok
        %td
          %i.icon-ok
        %td 
          %i.icon-ok
      %tr
        %td Response Messaging
        %td 
          %i.icon-ok
        %td
          %i.icon-ok
        %td 
          %i.icon-ok
      %tr
        %td Dynamic Messaging
        %td 
        %td
          %i.icon-ok
        %td 
          %i.icon-ok
      %tr
        %td Surveys/Voting
        %td 
        %td
          %i.icon-ok
        %td 
          %i.icon-ok
      %tr
        %td API Access
        %td 
        %td
          %i.icon-ok
        %td 
          %i.icon-ok
      %tr
        %td Automation
        %td 
        %td
        %td 
          %i.icon-ok
      %tr
        %td CRM Integration
        %td 
        %td
        %td 
          %i.icon-ok
      %tr
        %td
          %strong Choose your package
        %td
          =link_to "Sign up","#myModal", class: "btn btn-success", data: {toggle: "modal"}
        %td
          =link_to "Sign up","#myModal", class: "btn btn-success", data: {toggle: "modal"}
        %td
          =link_to "Sign up","#myModal", class: "btn btn-success", data: {toggle: "modal"}
