%hr
.container-narrow
  %h1 Message Pricing
  %br
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Messaging Package
        %th Price/Messaging
        %th Total Price
    %tbody
      %tr
        %td 
        %td 50
        %td Free
        %td Free
      %tr
        %td
        %td 10,000
        %td P1.0
        %td P10,000.00
      %tr
        %td
        %td 25,000
        %td P0.9
        %td P22,500.00
      %tr
        %td
        %td 50,000
        %td P0.85
        %td P42,500.00
      %tr
        %td
        %td 100,000
        %td P0.75
        %td P75,000.00
      %tr
        %td
        %td 250,000
        %td P0.65
        %td P162,500.00
      %tr
        %td
        %td 500,000
        %td P0.55
        %td P275,000.00
      %tr
        %td
        %td 1,000,000
        %td P0.45
        %td P450,000.00
      %tr
        %td
        %td 1,000,000+
        %td Call us!
        %td Call us!
