#sidebar
  %ul.nav.nav-list
    %li{ class: path?("dashboard") ? "active" : nil}
      =link_to dashboard_index_path, class: "side_dashboard" do
        %i.icon-bar-chart
        Dashboard
    %li{ class: path?("lists") ? "active" : nil}
      =link_to lists_path, class: "side_lists" do
        %i.icon-list-ol
        Lists
    %li{ class: path?("messages") ? "active" : nil}
      =link_to messages_path, class: "side_messages" do
        %i.icon-envelope
        Messages
