#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  #something
  %iframe{seamless: "seamless", src: "http://smsgogo.us7.list-manage.com/subscribe?u=c6b3f1814906b5a261fc284ad&id=9336fbbd56"}
