.container-narrow
  %hr
  %h1 About SMSGoGo
  %br

  %p
    Established in 2013, SMSGoGo is the premier text marketing Software-as-a-Service (SaaS) company designed for marketers.  We believe that executing marketing strategies should not require large budgets, IT departments, or expensive implementations, which is why our software is designed for quick and easy setup and execution.
  %p
    We want to empower you to drive relationships with your customers.  With our segmentation, dynamic messaging, and two-way messaging functionality, your customers can engage with you in a conversation, delivering greater ROI for you and a great experience for them.
  %p
    We also take SPAM seriously, and we take anti-SPAM laws super seriously.  Our platform ensures you stay compliant with all the local regulations and you don't find yourself in sticky situations.  In the same vain, we do not buy or sell phone numbers either.  
  %p
    To sum it up, we help you reach your customers at the right place, at the right time. 
