.container-narrow
  %hr
  %h1 Beta Program
  %br
  %p
    The beta release of SMSGoGo is quickly approaching!  There are limited slots available to be the first to try it out.  Register now to reserve your spot!
  %p
    What to expect from the SMSGoGo Beta User Program:
    %ul
      %li
        %strong Email updates
        on our beta development progress
      %li
        %strong Exclusive access
        to SMSGoGo's first product release
      %li
        %strong Close collaboration
        between you and the SMSGoGo Team to identify bugs and improve the platform
      %li
        %strong Working software
        at the forefront of SMS marketing
      %li
        %strong Imperfect software
        that still needs the love and attention of caring beta users.
  %p
    Also!  We hate to say it, but the Beta User Program is only available in the Philippines.
  .row
    .span6.offset4
      =link_to "Sign up for our Private Beta","http://smsgogo.us7.list-manage.com/subscribe?u=c6b3f1814906b5a261fc284ad&id=9336fbbd56", class: "btn btn-success btn-large", data: {toggle: "modal"}
