.container-narrow
  %h1 About
  %p
    Established in 2013, SMSGoGo is the premier text marketing software company designed for marketers.
    We believe that executing marketing strategy should not require large budgets, IT departments, or
    expensive outsourcing, which is why our software is designed to enable quick and easy setup and
    execution.
  %p
    We believe in more than just bulk messaging. We believe in driving relationships. With our segmentation, dynamic messaging, and keyword response functionality, your customers can engage
    with your brand in a conversation, delivering greater ROI for you and a great experience for your
    customers.

  %p
    Nobody likes SPAM. That is why we do not buy or sell phone numbers. Your customers are your
    customers, and we intend to keep it that way.
