.landing-wrapper
  %br
  .container-narrow
    .jumbotron
      %h1 
        Market
        %strong Wherever
      %p.lead 
        SMSGoGo’s powerful text messaging software suite allows you to reach your customers when and 
        where it matters most. 
      =link_to "Check us out for free!", pricing_path, class: "btn btn-large btn-success"
  %br

.container-narrow
  %hr
  .row-fluid.marketing
    .span6
      %h4 
        %i.icon-gamepad
        Easy-to-use Interface
      %p
        No reliance on internal IT departments or outsourced development shops to
        get started. 
      %h4 
        %i.icon-reply
        Response Messaging
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      %h4 
        %i.icon-group
        Surveys
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.
    .span6
      %h4 
        %i.icon-envelope-alt
        Bulk Sending
      %p  Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      %h4 
        %i.icon-cogs
        Automation
      %p
        The easy to use interface, segmentation, delivery, and tracking tools empower you to start
        today and never look back.
      %h4 
        %i.icon-cloud
        API Access
      %p Maecenas sed diam eget risus varius blandit sit amet non magna.
  .row-fluid
    = render "contact_us/index"
  .row-fluid
    = render "pricing"
  .row-fluid
    = render "about"
  .row-fluid
    %hr
    .span3
      %h2 Question?
      %small
        Want to learn more? Bump us a quick
        =link_to "email", contact_us_path
        and we'll help you right away!
    .span4
      %h2 Try it out
      %small Seeing is believing, so try it out for yourself. No credit card required.
    .span4.signup
      =link_to "Sign up for our Private Beta","#myModal", class: "btn btn-success btn-large", data: {toggle: "modal"}
